[submodule "qvrpn"]
	path = qvrpn
	url = git://github.com/rpavlik/qvrpn.git
[submodule "vrpn"]
	path = vrpn
	url = git://github.com/rpavlik/vrpn.git
[submodule "wiiuse"]
	path = wiiuse
	url = git://github.com/rpavlik/wiiuse.git
