<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
	{% if page.nav == "home" %}
	<title>Wii Remote Head Tracking for Virtual Reality</title>
	{% else %}
	<title>{{ page.title }} - Wii Remote VR Head Tracking</title>
	{% endif %}	
	<link rel="stylesheet" href="{{site.url}}/shared/syntax.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{site.url}}/shared/style.css" type="text/css" media="screen" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body>
	<div id="header">
		<div id="header_inside">
			<h1>Wiimote Head-Tracking</h1>
			<ul>
			
				<!-- TODO: Don't link to the current page - the initial attempt
					did not succeed because the "active" class is applied to
					the a tag -->
				<li>
					<a href="{{site.url}}/docs/vr-applications.html" {% if page.nav == "running-apps" %} class="active" {% endif %}>
					Running VR Apps
					</a>
				</li>
					
				<li >
					<a href="{{site.url}}/docs/configuring.html" {% if page.nav == "configuring" %} class="active" {% endif %}>
					Changing the Config
					</a>
				</li>
				
								
				<li>
					<a href="{{site.url}}/docs/running.html" {% if page.nav == "running-tracker" %} class="active" {% endif %}>
					Running the Tracker</a>
				</li>
				
				<li>
					<a href="{{site.url}}/docs/install.html" {% if page.nav == "installing" %} class="active" {% endif %}>
					Installation</a>
				</li>				

				<li>
					<a href="{{site.url}}" {% if page.nav == "home" %} class="active" {% endif %}>
					Home</a>
				</li>

			</ul>		
		</div>
	</div>

	<div id="content">
		<div id="content_inside">
			{% if page.toc %}
			<div id="content_inside_sidebar">
				<h2>On This Page:</h2>
				<ul>
					{% for section in page.toc %}
					<li><a href="#{{section}}">{{section}}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			<div id="content_inside_main">
				
				{{ content }}
				
			</div>	
		</div>	
	</div>

	<div id="footer">
		<div id="footer_inside">
			<p>
			Please acknowledge use of this tracking system in academic papers and publications by citing the following paper:
			</p>
			<p class="citation">
			Pavlik, R.A., and Vance, J.M., 2010, “A Modular Implementation of Wii Remote Head Tracking for Virtual Reality,” ASME Paper No. WINVR2010-3771. Proc. 2010 World Conference on Innovative Virtual Reality.
			</p>
			<p>
			See the <a href="{{site.url}}">home page</a> for more information on attribution.
			</p>
			<hr />
			<p>
			All trademarks are property of their respective owners.
			</p>
			<p>
			Web site template based on <a href="http://www.opendesigns.org/design/smooth-and-sleek/">a design</a> by <a href="http://www.edg3.co.uk/">edg3.co.uk</a>, used under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5</a> license.
			</p>
		</div>
	</div>
</body>

</html>
